@import 'src/styles.scss';
a{
    text-decoration: none;
}
.img-avatar-followers{
     margin-left:0px;
     margin-right:5px;
      height:40px;
      float:left;
      display:block
}
.privacy-lock{
    color:black;
    font-size: 16px;
}
