<div class="row">
  <div class="col-md-10 mt-2" style="overflow-y:scroll; height:590px;">
    <div class="card">
      <div class="row">
        <div class="col col-md-10 col-xs-10 h-auto w-25">
          <h3 class="h3 text-dark large text-center w-100">Edit profile</h3>
          <!-- <hr class="pl-1 pr-1"> -->
        </div>
        <div class="col col-md-2 col-xs-2 pull-right w-100">
          <button class="btn btn-dark btn-sm w-75 h-auto" (click)="redirectToViewProfile()">
            <i class="fa fa-arrow-left pr-3"></i>Back</button>
          <!-- <hr class="pl-1 pr-1"> -->
        </div>
        <!-- <hr> -->
      </div>
      <div class="row w-100">
        <div class="col col-md-12 pl-5 ">
          <form [formGroup]="editProfileForm" (ngSubmit)="editProfile(editProfileForm)">
            <div class="form-row">
              <div class="form-group col-md-8 col-xs-12 w-100 pt-1">
                <label for="name" class="text-muted small pt-2 w-100">Name</label>
                <input formControlName="name" type="text" class="form-control p-3" id="name" value="{{user?.name}}">
                <label for="email" class="text-muted small pt-2 w-100">Email</label>
                <input formControlName="email" type="email" class="form-control p-3" id="email" value="{{user?.email}}">
                <label for="profession" class="text-muted small pt-2 w-100">Works as</label>
                <input formControlName="profession" type="text" class="form-control p-3" id="profession" value="{{user?.profession}}">
              </div>
              <div class="form-group col-md-4 col-xs-12 w-100 d-block">
                <img data-toggle="tooltip" data-placement="top" title="Upload Profile pic" (click)="avatar.click()" src="{{basePath}}{{user?.avatar}}"
                  class="ml-1 pl-3 mt-1 mr-1 pr-3 img-fluid d-block mx-auto pull-left">
                <input style="display:none" #avatar name="avatar" type="file" (change)="uploadAvtar($event)">
              </div>
            </div>
            <div class="row mt-0">
              <div class="form-group col-md-9">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="radiogroup" id="privacyPublic" value="false"
                    [checked]="user?.privacy==false" (change)="privacyValue('public')">
                  <label class="form-check-label text-muted small" for="privacyPublic">Public</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="radiogroup" id="privacyPublic" value="true"
                    [checked]="user?.privacy==true" (change)="privacyValue('private')">
                  <label class="form-check-label text-muted small" for="privacyPublic">Private</label>
                </div>
              </div>
            </div>
            <button type="submit" [disabled]="!editProfileForm.valid" class="col-md-2 btn btn-sm btn-primary mb-2 d-block">Save</button>
          </form>
        </div>
      </div>
    </div>
    <div class="card mt-3 pl-2 pr-2 pt-0 mt-0">
      <div class="row w-100 " *ngIf="privacy">
        <div class=" col-md-12 w-100">
          <h3 class="h3 text-dark large text-center">Privacy Setting</h3>
          <h5 class="h5 text-secondary small text-center"> Allow Followers to view your profile.</h5>
          <div *ngIf="noFollowers && erroMessage != null" class="alert alert-warning alert-dismissible show" role="alert">
            <strong>Holy guacamole!</strong>{{erroMessage}}.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
          </div>
          <div *ngIf="noFollowing && erroMessage != null" class="alert alert-warning alert-dismissible show" role="alert">
            <strong>Holy guacamole!</strong>{{erroMessage}}.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
      <hr clas="mt-0 pt-0">
      <div class="row w-100 mt-2 pl-3 pr-3">
        <div class="col-md-12 w-100">
          <div class="input-group w-100">
            <input [(ngModel)]="searchText" type="text" class="form-control " aria-label="Text input with dropdown button">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary dropdown-toggle active" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">{{dropdown_btn_name}}</button>
              <div class="dropdown-menu">
                <a class="dropdown-item" (click)="showAll()">All</a>
                <a class="dropdown-item" (click)="noFollowing ==false ? showFollowing() : showNoFollowingMessage()">Following</a>
                <a class="dropdown-item" (click)="noFollowers == false ?showFollowers() : showNoFollowerMessage()">Followers</a>
                <div role="separator" class="dropdown-divider"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="privacy">
        <div class="col-md-12" *ngIf="privacy && hideVisiblityForm == true">
          <div class="input-group form-check pb-0 mb-0">
            <input class="form-check-input" type="checkbox" (click)="checkAll($event)" [checked]="allowAllClicked">
            <label class="form-check-label">
              Allow all
            </label>
          </div>
          <form [formGroup]="visiblityForm" (ngSubmit)="updatePrivacy()">
            <div formArrayName="visiblity">
              <ul class="list-group list-group-flush  " *ngFor="let vis of visiblityForm.controls.visiblity.controls | filterPipe : searchText ; let i = index">
                <li class="list-group-item w-auto h-auto pt-1 pb-0" [formGroupName]="i">
                  <div class="row">
                    <span class="text-muted small pull-left">{{vis.get('is').value =='both'?'You both
                      follow each
                      other':'' }}</span>
                    <span class="text-muted small pull-left">{{vis.get('is').value
                      =='follower'?'Follows you':''}}</span>
                  </div>
                  <div class="row">
                    <div class="col-md-1 pt-1 pb-2">
                      <img readonly *ngIf="vis.get('avatar').value !=null" src="{{basePath}}{{vis.get('avatar').value}}"
                        width="40px;" class="img-fluid rounded-circle img-avatar-followers pull-left">
                    </div>
                    <div class="col-md-7 pt-1 pb-2">
                      <span class=" row text-dark">{{vis.get('name').value}}</span>
                      <a class="row text username-color w-25" routerLink="/users/{{vis.get('followingId').value}}"><span
                          class="small ls-1">{{vis.get('name').value}}
                          <i class="fa fa-lock privacy-lock pl-2" *ngIf="vis.get('privacy').value"></i>
                        </span>
                      </a>
                    </div>
                    <div class="col-md-2 pt-1 pb-2">
                    </div>
                    <div class=" col-md-2 form-check pull-right pt-2 pb-2" style="padding-left:40px;">
                      <input class="form-check-input" type="checkbox" (change)="toggleCanSee(i)" [checked]="vis.get('cansee').value">
                      <label class="form-check-label" for="following?.id">
                        Allow
                      </label>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <button class="col-md-2 btn btn-sm btn-primary pull-right">Update Privacy</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 tiker-plr" *ngIf="loggedIn === true">
    <p class="h5 lead text-muted text-center tiker-heading"><b><i class="fa fa-clock tiker-icon"> </i>
        Activities</b></p>
    <app-activity-tiker></app-activity-tiker>
    <p class="h5 lead text-muted text-center tiker-heading pt-0"><b><i class="fa fa-hotjar tiker-icon"> </i>
        Hot Topics</b></p>
    <app-hot-topics></app-hot-topics>
  </div>
</div>