<div class="row">
  <div class="col-md-10 col-sm-10 col-xs-10 mt-2 pt-0">
    <div *ngIf="message != null" class="alert alert-warning alert-dismissible show" role="alert">
      <strong>Holy guacamole!</strong>{{message}}
    </div>
    <ul class="list-group list-group-flush posts-ul pt-0">
      <li class="list-group-item posts-li" *ngFor="let post of posts ; let i=index">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 pt-0">
            <img *ngIf="post[0].picture != null" class="img-fluid rounded-circle mx-auto d-block posts-thumbnail-img"
              src="{{basePath}}{{post[0].picture}}" alt="Card image cap">
          </div>
          <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
            <a routerLink="/posts/{{post[0].id}}">
              <h2 class="text-secondary "><Strong>{{post[0].title}}</Strong> </h2>
            </a>
            <p class="h6">
              <b>
                <a class="text-dark username-color" routerLink="/users/{{post[0].user.id}}">({{post[0].user.authorName}})</a>
              </b><br>
              <small class="text-muted" i18n="@@lastupdated" i18n="last updated | The text for last updated">
                Last updated {{ post[0].updatedAt.date | date:"MMM dd yyyy 'at' hh:mm a"}}
              </small><br>
            </p>
            <p class="lead" style="max-height:300px">
              <small>
                {{ post[0].body.substring(1,300)}}
              </small> <Strong>
                <a data-toggle="tooltip " title="Click to view full post" routerLink="/posts/{{post[0].id}}">...</a></Strong>
            </p>
            <div clas="row">
              <span class="badge like-span">{{post.total_likes}}
                <i *ngIf="loggedIn===true" (click)="like(i)" class="fa fa-thumbs-up like-span-btn"></i>
              </span>
              <span class="badge  like-span">{{post?.total_comments}}
                <i *ngIf="loggedIn===true" routerLink="/posts/{{post[0].id}}" class="fa fa-comments like-span-btn"></i>
              </span>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <hr>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tiker-plr">
    <p class="h5 lead text-muted text-center tiker-heading"><b><i class="fa fa-fire tiker-icon"> </i>
        Activities</b></p>
    <app-activity-tiker *ngIf="loggedIn === true"></app-activity-tiker>
  </div>
</div>