<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
    <div *ngIf="published === true" class="alert alert-warning alert-dismissible show" role="alert">
      <strong>Holy guacamole!</strong> Comment posted successfully.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="commentForm" (ngSubmit)="publishComment(commentForm)" class="comment-form">
      <div class="form-group">
        <textarea rows="5" formControlName="body" cols="10" type="text" class="form-control" name="body" id="body">
          Enter the body for comment. </textarea>
      </div>
      <div class="errorBox" *ngIf="commentForm.controls['body'].hasError('required') && commentForm.controls['body'].touched">
        *Body is required.
      </div>
      <div class="errorBox" *ngIf="commentForm.controls['body'].hasError('minlength') && commentForm.controls['body'].touched">
        *Body must be more than 5.
      </div>
      <button class="btn btn-primary" id="publish-btn" [disabled]="!commentForm.valid" type="submit">Publish
      </button>
    </form>
  </div>
</div>