<div class="row">
  <div class="col-md-10 col-sm-10 col-xs-10">
    <div *ngIf="message != null" class="alert alert-warning alert-dismissible show" role="alert">
      <strong>Holy guacamole!</strong>{{message}}
    </div>
    <div class="card-deck my-card">
      <div class="row" *ngFor="let post of posts ; let i=index">
        <div class="col-md-4 col-sm-4 col-xs-4 ">
          <img *ngIf="post[0].picture != null" id="card-img" src="{{basePath}}{{post[0].picture}}" alt="Card image cap">
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8 card-body-custom">
          <div class="card-body">
            <a routerLink="/posts/{{post[0].id}}">
              <h2 class="a-title"><Strong>{{post[0].title}} </Strong> </h2>
            </a>
            <p class="p-name">
              <b>
                <a routerLink="/users/{{post[0].user.id}}" class="p-name">({{post[0].user.authorName}})</a>
              </b><br>
              <small class="text-muted" i18n="@@lastupdated" i18n="last updated | The text for last updated">
                Last updated {{ post[0].updatedAt.date | date:"MMM dd yyyy 'at' hh:mm a"}}
              </small><br>
            </p>
            <!-- color:rgb(11, 156, 156); -->
            <p class="card-text post-text">
              {{ post[0].body.substring(1,300)}} <Strong style="font-size:13px"><a data-toggle="tooltip " title="Click to view full post"
                  routerLink="/posts/{{post[0].id}}">.....</a></Strong>
            </p>
            <span class="badge like-span">{{post.total}}
              <i *ngIf="loggedIn===true" (click)="like(i)" class="fa fa-thumbs-up like-span-btn"></i>
            </span>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-3 tiker">
    <app-activity-tiker *ngIf="loggedIn === true"></app-activity-tiker>
  </div>
</div>