/* You can add global styles to this file, and also import other style files */
 ::-webkit-scrollbar{
     display: none;
 }
$link-color-on-hover:rgb(35, 168, 245);
$username-color:rgb(11, 156, 156);

body{
     font-family: 'Open Sans', sans-serif;
}
a{
     text-decoration: none;
}

.username-color{
      color:$username-color!important;
}

.text-secondary:hover{
     color:$link-color-on-hover!important;
}
a:hover{
     color:$link-color-on-hover !important;
 }

.like-span{
    cursor: pointer;
    float:left!important;
    font-size: 13px;
}
.like-span-btn{
    font-size:14px;
}
.like-span-btn:hover{
    color:$link-color-on-hover!important;
}
.like-active{
     color:$username-color!important;
}
.like-inactive{
    color:black!important;
}
hr{
    position:relative;
    width: 100%;
    margin-top:20px;
}
.posts-ul{
    overflow-y:scroll;
    height:600px;
}

.posts-li{
    height: auto;
}
.posts-thumbnail-img{
    width:100%;
    height:90%;
    min-width:120px;
    min-height:300px;
    max-height:30%;
    box-shadow :16px 12px 10px gray;
    border :solid rgba(254, 224, 244, .8) 1px;
}

.tiker-heading{
    // margin-top:10px!important;
    padding-top: 5px!important;
}
.tiker-icon{
    color:#ef6733;
    padding-right:5px;
}
.tiker-plr{
    padding-left:10px!important;
    padding-right:10px!important
}
.tiker{
     margin-top: 0px!important;
    cursor: pointer;
     border-left:solid gray 5px;
    font-size: 10px!important;
    padding:0px 0px 0px 5px !important;
    ul{
        overflow-y: auto ;
        height:350px;
    }
    li{
        padding:5px 0px 5px 5px !important;
        width:100%!important;
        height:auto!important;
        max-height:80%!important;
    }
}
.hot-topics{
     margin-top: 0px!important;
    cursor: pointer;
     border-left:solid gray 5px;
    font-size: 10px!important;
    padding:0px 0px 0px 5px !important;
    ul{
        overflow-y: auto ;
        height:190px;
    }
    li{
        padding:5px 0px 5px 5px !important;
        width:100%!important;
        height:auto!important;
        max-height:80%!important;
    }

}
.pt-10{
    padding-top: 10px!important;
}
pt-0{
    padding-top: 0px!important;
}
.btn-border-blue{
    border: solid $link-color-on-hover 1px;
}

.ls-1{
    letter-spacing: 1px;
}