.tiker-title{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 100;
}
ul{
    overflow-y: auto ;
    height:600px ;
    padding-top: 10px;
}
li {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;

    padding:8px 0px 2px 0px;
}
.font-10{
    font-size:10px;
}
img{
    width:30px;
    margin-left:0px;
    margin-right:5px;
    border-radius:90%;
    height:30px;
    float:left;
}
p{
    margin-top:5px;
    text-align: justify;
     color:rgb(2, 94, 86);
}