@import 'src/styles.scss';
.font-10{
    font-size:10px!important;
}
img{
    width:30px;
    margin-left:0px;
    margin-right:5px;
    border-radius:90%;
    height:30px;
    float:left;
}
p{
    margin-top:5px;
    text-align: justify;
     color:rgb(2, 94, 86);
}