<div class="row">
  <div class="col-md-12">
    <div id="comments-block">
      <h3 class="h3 text-dark text-center" i18n="Comment section  | The heading for comments in postdetail">Comments
        for
        this post</h3>
      <div class="alert alert-info alert-dismissible show" role="alert" *ngIf="noMoreComments === true">
        <strong>Holy guacamole!</strong>No more Comments.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <hr>
  </div>
  <div class="row">
    <div class="col col-md-12 w-100 mx-auto pl-5 pr-5">
      <div *ngIf="published === true" class="alert alert-warning alert-dismissible show" role="alert">
        <strong>Holy guacamole!</strong> Comment posted successfully.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form *ngIf="loggedIn === true" [formGroup]="commentForm" (ngSubmit)="publishComment(commentForm)">
        <div class="form-group">
          <textarea rows="10" cols="190" formControlName="body" type="text" class="form-control " name="body" id="body">Enter the body for comment. </textarea>
        </div>
        <div class="errorBox w-100" *ngIf="commentForm.controls['body'].hasError('required') && commentForm.controls['body'].touched">
          *Body is required.
        </div>
        <div class="errorBox w-100" *ngIf="commentForm.controls['body'].hasError('minlength') && commentForm.controls['body'].touched">
          *Body must be more than 5.
        </div>
        <button style="cursor: pointer ;position:relative;bottom:10px;" class="btn btn-primary btn-sm" id="publish-btn"
          [disabled]="!commentForm.valid" type="submit">Publish
        </button>
      </form>
    </div>
  </div>
  <div class="row w-100">
    <div class="col">
      <div id="add-scroll-bar">
        <blockquote *ngFor="let comment of comments">
          <p class="comment-authorname" style="font-family: 'Acme', sans-serif; letter-spacing:1px">
            <span>{{comment.user.authorName}}</span>
            <span style="font-family: 'Montserrat', sans-serif;"> on</span>
            <span>{{comment.updatedAt.date | date:"MMM dd yyyy 'at' hh:mm a"}}</span>
          </p>
          <span style="font-family: 'Montserrat', sans-serif;" data-canedit="true" class="comment-message">
            {{comment.body}}
          </span>
          <i *ngIf="username === comment.user.authorName" (click)="editComment(comment.body, comment.id)" class="fa fa-pencil"
            style="padding-left:5px">
          </i>
        </blockquote>
      </div>
      <a (click)="loadPreviousComments(next)" style="text-decoration-line: underline; color:blue;" i18n="Link view more comments | A link for view more comments">view
        previous
        comments</a>
    </div>
  </div>
</div>