#comments-block h3{
    margin-top: 0px;
   text-align:center;
}

#comments-block{
     margin-top: 20px;
     text-align :left;
     font-family: 'Montserrat', sans-serif;
}
blockquote{
    border-left :solid gray 5px;
    padding-left:10px;
}
#add-scroll-bar{
    border-right: solid gray 5px;
    overflow-y:scroll;
     height:150px
}