<div class="row">
  <div class="col-md-8">
    <div class="card" style="margin-left:10px;width:100%;" (mouseover)="counter=true">
      <!-- <div class="
      card {{hover?'blurbg' :''}}" style=" margin-left:10px;width:100%;" (mouseover)="loggedInUserId == user?.id ?hover=true :hover=false"
      (mouseleave)="hover=false"> -->
      <!-- <button class="btn btn-defult btn-on-image" style="width:5%" *ngIf="hover"><i style="font-size: 60px; filter:none;"
          class="fa fa-edit"></i></button> -->
      <img class="card-img-top img-cover" src="../../assets/img/pic.jpg" alt="Card image cap" height="20%">
      <img class="card-img-top img-thumbnail" src="../../assets/img/pic.jpg" alt="Card image cap">
      <div class="card-body custom-card">
        <div class="row head-name-follow">
          <div class="col-md-4"></div>
          <div class="col-md-4 col-sm-6">
            <h5 class=" card-title name">{{user?.name}}</h5><br>
          </div>
          <div class="col-md-4 col-sm-6">
            <button *ngIf="loggedInUserId != user?.id" (click)="follow(user?.id)" class="btn btn-primary follow-btn">{{follower===
              1
              ?"UnFollow":"Follow"}}</button>
          </div>
          <h6 class="card-title name username " style="border: solid red 1px;">
            {{user?.authorName}}
          </h6>
          <p class="card-title name username profession">{{user?.profession}}</p>
          <div class="col-xs-4 center follower-following-posts-row" style="border: solid red 1px;margin-left:4%">
            <h4>Posts</h4>
            <p class=" username points">{{totalPosts}}</p>
          </div>
          <div class="col-xs-6 center follower-following-posts-row" style="border: solid red 1px;margin-left:1%">
            <h4>Followers</h4>
            <!-- <p class="username points">{{counter ===true ? 10000 :101010}}</p> -->
          </div>
          <div class="col-xs-6 center follower-following-posts-row" style="border: solid red 1px;margin-left:1% ">
            <h4>Following</h4>
            <p class="username points"></p>
          </div>
        </div>
      </div>
      <div class="col-md-12 follow-following-list" *ngIf="loggedInUserId == user?.id">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" (click)="getFollowers()">Followers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{showFollowing===true ?'active':''}}" (click)="getFollowing()">Following</a>
          </li>
        </ul>
        <div style="border:none">
          <div *ngIf="showFollowers === true">
            <ul class="list-group" *ngFor="let follower of myFollowers">
              <li class="list-group-item " style="border-top:none">
                <a class="a-names" routerLink="../users/{{follower?.id}}">
                  <span class="names">{{follower.author_name}}</span>
                </a>
              </li>
            </ul>
          </div>
          <div *ngIf="showFollowing === true">
            <ul class="list-group" *ngFor="let following of followingTo">
              <li class="list-group-item">
                <a class="a-names" routerLink="../users/{{following?.id}}">
                  <span class="names">{{following.authorName}}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>