.img-cover{
   height: 300px;
}
.row-span-followsyou{
    font-size: 13px;
     font-family: 'Open Sans', sans-serif;
    text-align: justify;
    display: block;
    margin-bottom: 15px;
    font-weight: 400;
    padding-left: 10px;
}
.img-avatar-followers{
     margin-left:0px;
     margin-right:5px;
     border-radius:90%;
      height:40px;
      float:left;
      display:block
}
.btn-border{
    background-color: white;
    border:solid blue 1px;
}
.div-col-a-name{
    margin:0px;
     font-size: 13x;
       font-family: 'Open Sans', sans-serif;
        font-weight: 800;
}
.div-col-a-authorname{
     font-size: 10px;
       font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        padding-left: 9px;
}
.img-thumbnail{
    height: 190px;
    width: 190px;
    border-radius: 90%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    bottom: 100px;
    margin-bottom:3xp;
}
.follow-btn{
    float:left;
}
.custom-card{
    /* margin : 0px auto 0px auto; */
    position: relative;
    bottom: 100px;
}
.edit-btn{
      float:left;
      font-size: 20px;
}
/* .authorName{
    text-align: center;
    font-weight: 400;
    letter-spacing:1px;
    display:block;
} */
.follower-following-posts-row{
    margin-top:30px;
    width:30%;
}
.edit-icon{
    font-size: 16px;
    cursor: pointer;
    padding:10px;
}
.ptop{
    margin-top: 100px;

}
.name{
    width:100%;
     padding-top:0px;
     position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 800;
    letter-spacing:1px;
    display:block;
    text-align: center;
    margin : 0px auto;
}
.username{
     font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 10;
    letter-spacing:1px;
    color :gray;
}
.profession{
    color :black;
}
.points{
    font-size: 25px;
    font-weight: 800;
    letter-spacing:1px;
    color: #273751;
}
.btn-on-image{
    float:right;
    margin-left:90%;
    position:fixed;
    top:50px;
    background: none;
    filter:none;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    color:blue;
    transition: 400ms;
     cursor: pointer;
     font-size: 18px;
    font-weight: 600;
}
.blurbg{
    filter:blur(1px);
    background-color: rgba(0, 0, 0, 0.386);
}
.active{
    cursor: pointer;
    color:rgba(93, 93, 218, 0.671);
     font-size: 16px;
    font-weight: 800;
}
.follow-following-list{
     cursor: pointer;
    padding-bottom: 100px;
    margin-bottom :20px;
}
.a-names .names{
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
    float:left;
    color:gray;
    font-family: 'Open Sans', sans-serif;
}
.privacy-lock{
    color:black;
    font-size: 16px;
}
.hide{
    display: none;
}
ul .a-names :hover{
     color :black;
     transition-delay: 100ms;
    transform: scale(1.2);

}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
.errorBox{
    color : red;
    font-weight: 200px;
    font-size: 16px;
    margin:2px;
    float: left;
}
